* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Libre Franklin", sans-serif;
}

.header {
  max-width: 100vw;
  height: 70px;
  color: #003145;
  font-weight: bold;
  background: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 2rem;
}

.list-nav {
  display: flex;
  flex-direction: row;
  gap: 10px;
  list-style: none;
  font-size: 0.9rem;
}

#span01-header {
  font-size: 1.25rem;
}

#span02-header {
  font-size: 1.25rem;
  color: rgb(239, 82, 82);
}

#p01-header {
  font-size: 0.56rem;
}

#nav-icon01,
#nav-icon02,
#nav-icon03,
#nav-icon04,
#nav-icon05,
#nav-icon06 {
  cursor: pointer;
}
#nav-icon01:hover,
#nav-icon02:hover,
#nav-icon03:hover,
#nav-icon04:hover,
#nav-icon05:hover,
#nav-icon06:hover {
  text-decoration: underline 2px #003145;
}

#google-search {
  width: 100px;
}

#search-button {
  background-color: #fbfeff;
  width: 45px;
  cursor: pointer;
  border: none;
}

#nav {
  visibility: hidden;
}

#menu,
#btn-mobile {
  display: none;
}

.contanier-01 {
  max-width: 100vw;
  font-family: Helvetica, Arial, sans-serif;
  background-color: #003145;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 40px 10px 30px 30px;
}
.box-01 {
  color: #fbfeff;
  font-size: 3rem;
  width: 20.5rem;
}

#main01-title {
  color: #fbfeff;
  font-size: 3rem;
}

#main-01-p01 {
  width: 18.75rem;
  padding-left: 2.5rem;
  padding-bottom: 3.125rem;
  color: #fbfeff;
  font-size: 20px;
}

.box-02-form {
  color: #ffff;
  font-weight: bold;
  font-size: 1.25rem;
  border-radius: 0.5rem;
  background-color: rgb(255, 255, 255, 0.7);
  width: 36.25rem;
  height: 6.25rem;
  padding: 20px;
}

.form {
  width: 7.5rem;
  height: 1.875rem;
  background-color: #f5f3f3;
  display: flex;
  gap: 0.625rem;
  margin-top: 10px;
}
.main-01-form p {
  color: white;
  gap: 10px;
  padding: 20px 0px 10px 0px;
}

#make,
#selectmodel,
#year {
  font-size: 1rem;
  border: none;
  border-radius: 0.313rem;
  cursor: pointer;
  padding: 5px;
}

#button-go {
  width: 6.25rem;
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 0.313rem;
  background-color: #7dbc12;
  font-weight: bold;
  padding: 0rem 2.5rem;
  cursor: pointer;
}

#menu li {
  list-style: none;
  padding: 1rem 0;
  margin: 0 1rem;
  border-bottom: 2px solid rgba(231, 6, 6, 0.05);
}

#btn-mobile {
  display: flex;
  padding: 0.5 1rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  gap: 0.5rem;
}

#hamburger {
  border-top: 2px solid;
  width: 20px;
  display: block;
}

#hamburger::after,
#hamburger::before {
  content: "";
  display: block;
  width: 20px;
  height: 2px;
  background-color: currentColor;
  margin-top: 5px;
}

#nav.active #hamburger {
  border-top-color: transparent;
}

@media (max-width: 950px) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .list-nav {
    font-size: 0.8rem;
  }
  #span01-header,
  #span02-header {
    font-size: 1rem;
  }
  #google-search,
  #search-button {
    display: none;
  }
}

@media (max-width: 750px) {
  .list-nav {
    font-size: 0.7rem;
  }
  #span01-header,
  #span02-header {
    font-size: 0.9rem;
  }
}

@media (max-width: 660px) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .list-nav {
    display: none;
  }
  .box-02-form {
    width: 18rem;
    height: 15rem;
  }
  .form {
    display: flex;
    flex-direction: column;
  }
  #span01-header,
  #span02-header {
    font-size: 2rem;
  }

  #google-search {
    display: none;
  }
  #search-button {
    display: none;
  }
  .header {
    display: flex;
  }
  .nav-burger {
    display: block;
  }
  #make,
  #selectmodel,
  #year {
    width: 150px;
  }
}
#nav {
  visibility: visible;
}
#menu {
  /*  display: none;*/
  display: flex;
  flex-direction: column;
  display: block;
  position: absolute;
  width: 100%;
  top: 70px;
  right: 0px;
  padding: 15px;
  background-color: #e7e7e7;
  z-index: 1000;
  visibility: hidden;
}
#nav.active #menu {
  display: block;
  height: calc(100vh - 70px);
  visibility: visible;
}

@media (max-width: 375px) {
  #span01-header {
    font-size: 1.5rem;
  }
  #span02-header {
    font-size: 1.5rem;
  }
}

.contanier-02 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}

.cars {
  width: 350px;
  margin: 30px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
}

#car {
  list-style: none;
  width: 250px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 50px;
  padding-left: 15px;
}

#img-car {
  width: 350px;
  height: auto;
  border-radius: 0.5rem;
}

#brand,
#model,
#ano {
  font-weight: bold;
  text-decoration: none;
  display: block;
  color: #1173c3;
  font-size: 16px;
}

#price #color #newcar {
  font-size: 18px;
}

#title-cars {
  padding-top: 15px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}
#price {
  font-family: Helvetica, Arial, sans-serif;
  color: #555;
  font-weight: bold;
  font-size: 20px;
  padding-left: 90px;
}

.summary {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
